/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&family=Noto+Sans+KR:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700&family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

/* bootstraps */
@import '~bootstrap/scss/bootstrap';

/* media query for font sizes */
$nav-max-width: 840px;

@media all and (min-width: 800px) {
  html {
    font-size: 19px;
  }
}

@media all and (max-width: 799px) and (min-width: 550px) {
  html {
    font-size: 2.6vw;
  }
}

@media all and (max-width: 549px) and (min-width: 340px) {
  html {
    font-size: 3.9vw;
  }
}

@media all and (max-width: 339px) and (min-width: 340px) {
  html {
    font-size: 13px;
  }
}

html {
  padding: 0px;
  margin: 0px;
  font-family: 'Noto Serif', 'Noto Serif KR', serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html ::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body {
  padding: 0px;
  margin: 0px;
}

// LAYOUT
.layout {
  background-color: #fff;
  padding: 0;
  margin: 0;

  width: 100vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// HOME
.home {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  margin-top: 140px;
  @media screen and (max-width: $nav-max-width) {
    margin-top: 70px;
  }

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Frank Ruhl Libre', serif;

  img {
    width: 100%;
    height: 100%;
  }

  .home__main {
    font-family: 'Frank Ruhl Libre', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 85vw;
    min-height: 780px;
    max-height: 1200px;
    background-image: url('../../public/img/Main\ 1.png');
    @media screen and (max-width: $nav-max-width) {
      background-image: none;
      justify-content: start;
      height: 50em;
      min-height: 650px;
      max-height: 1200px;
      background: linear-gradient(to bottom, #f6f9fb, #d6e3e2, #a8b8b0, #d6e3e2);
    }
    background-repeat: no-repeat;
    background-size: cover;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    .home__main__title {
      font-size: 2.4rem;
      font-weight: 600;
      letter-spacing: 4px;
      font-display: center;
      margin-bottom: 20px;
      @media screen and (max-width: $nav-max-width) {
        display: none;
      }
    }

    .home__main__subtitle {
      font-size: 1.5rem;
      font-weight: 500;
      font-display: center;
      margin-bottom: 30px;
      @media screen and (max-width: $nav-max-width) {
        display: none;
      }
    }

    .home__main__noticeImg {
      display:none;
      @media screen and (max-width: $nav-max-width) {
        display: block;         
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 2%;
        width: 21em;
        height: auto;

        /* 그림자 효과 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
                    0 2px 4px rgba(0, 0, 0, 0.1);

        /* 테두리 추가 */
        border: 1px solid rgba(0, 0, 0, 0.1);

        /* 부드러운 변화를 위한 트랜지션 */
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 
                        0 3px 6px rgba(0, 0, 0, 0.15);
            transform: translateY(-3px);
        }
      }
    }
    
    .home__main__noticeText1 {
      display:none;
      @media screen and (max-width: $nav-max-width) {
        display: block;         
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 0.3em;
      }
    }

    .home__main__noticeText2 {
      display:none;
      @media screen and (max-width: $nav-max-width) {
        display: block;         
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 1em;
        font-weight: 700;
      }
    }
    
    .home__main__explainbtn {
      margin-top: 2.5em;
      margin-bottom: 0.5em;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 1.1em;
      font-weight: 700;
    }

    .home__main__btn {
      height: 50px;
      width: 200px;
      border: none;
      border-radius: 15px;
      background-color: #333;
      font-size: 1.1rem;
      letter-spacing: 1.5px;
      color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      text-decoration: none;
      text-transform: uppercase;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
      cursor: pointer;

      &:hover {
        background-color: #444;
        color: #fff;
        transform: translateY(-2px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.1);
      }
      &:active {
        transform: translateY(1px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
      }

      @media screen and (max-width: $nav-max-width) {
        color: white;
        height: 3em;
        font-size: 1em;
      }
    }
    .home__main__btn_mobile {
      height: 45px;
      width: 180px;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #000000bb;
      font-size: 1rem;
      letter-spacing: 2px;
      color: wheat;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease-in-out;
      margin-top: 5px;

      text-decoration-line: none;
      text-decoration: none;
      &:hover {
        background-color: #00000000;
        color: black;
      }
    }
  }
}

.reservation {
  padding: 0px;
  margin: 0px;
  margin-top: 140px;
  @media screen and (max-width: $nav-max-width) {
    margin-top: 70px;
  }

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .reservation_mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/img/reservation_mid.png');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-width: 340px;
    height: 40vw;
    min-height: 300px;
    // max-height: 800px;

    .reservation_mid-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        text-align: center;
      }
    }

    .reservation_mid-title {
      font-size: 2.3rem;
      font-family: 'Frank Ruhl Libre', serif;
      font-weight: 550;
      padding: 25px;
      border-bottom: 1px solid black;
    }

    .reservation_mid-subtitle {
      font-family: 'Noto Sans KR', sans-serif;
      text-align: center;
      margin-top: 30px;
      font-size: 1.5rem;
      color: black;
    }
  }

  .reservation_main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    .reservation_main_top-button {
      display: flex;
      justify-content: center;

      button {
        padding: 10px 0px;
        margin: 20px 6px;

        font-size: 1.2rem;
        color: rgb(0, 0, 0);

        cursor: pointer;
        background: none;
        background-color: none;
        border: none;

        // &:focus {
        //   color: black;
        //   font-weight: 700;
        //   border-bottom: 2px solid black;
        // }
        &:hover {
          color: rgb(70, 70, 124);
        }
      }
      .selected {
        color: black;
        font-weight: 700;
        border-bottom: 2px solid black;
      }
    }
  }

  .reservation_main_explanation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 65%;

    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);

    @media screen and (max-width: 768px) {
      display: none;
    }
    p {
      text-align: center;
    }
    .reservation_main_title {
      font-size: 1.3rem;
      margin: 10px 0px;
      @media screen and (max-width: 768px) {
        font-size: 1.25rem;
      }
    }

    .reservation_main_subtitle {
      font-size: 1.3rem;
      color: rgb(0, 0, 0);
      opacity: 50%;
      margin: 10px 0px 20px 0px;
    }
  }

  .reservation_main_container {
    display: flex;
    justify-content: center;
    margin: 35px 0px;
    width: 100%;
    box-sizing: border-box;
  }

  .reservation_main_box {
    width: 600px;
    display: flex;
    justify-content: center;
    margin-left: -194px;
    margin-right: 85px;
    @media screen and (max-width: 768px) {
      width: 390px;
      margin: 0px 0 150px 0 !important;
    }
  }

  .reservation_main_calendar {
    @media screen and (max-width: 768px) {
      overflow: auto;
      margin: 3rem 0 7rem 0;
    }
  }

  #reservation_main_box_title {
    font-size: 1rem;
    font-weight: 500;
    margin: 20px 0px 50px -15px;
  }

  $piano-card-background: #eef1f4;
  $piano-border-color: #6c7a89;
  $piano-hover-color: #556270;
  $piano-text-color: #44525c;
  $piano-btn-bg: #7b8a9a;
  $piano-btn-hover: #6c7a89;
  $piano-btn-text: white;

  .piano_card_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 2.5rem auto;

    @media screen and (max-width: 768px) {
      margin: 1.0rem auto;
    }

    .piano_card {
      width: 45%;
      min-width: 22rem;
      max-width: 32rem;
      height: 12rem;
      border-radius: 0.75rem;
      background: #fff;
      border: 0.125rem solid $piano-border-color;
      border-top: 2.5rem solid $piano-border-color;
      padding: 1.5rem;
      margin: 1.5rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      transition: all 0.3s ease-in-out;

      @media screen and (max-width: 768px) {
        height: 8rem;
        margin: 1rem;
        padding: 1.5rem;
        border-top: 1rem solid $piano-border-color;
      }

      .piano_card_title {
        font-size: 1.5rem;
        font-weight: bold;
        color: $piano-text-color;

        @media screen and (max-width: 768px) {
          font-size: 1.3rem;
        }
      }

      .piano_card_where {
        margin-top: 1em;
        font-size: 1.2rem;
        color: $piano-text-color;

        @media screen and (max-width: 768px) {
          font-size: 0.9rem;
        }
      }

      .piano_card_time {
        font-size: 1rem;
        color: #5c5c5c;
        opacity: 0.8;
        margin: 1rem 0;

        @media screen and (max-width: 768px) {
          margin: 0.5rem 0;
        }
      }

      .piano_card_subtitle {
        font-size: 1rem;
        font-weight: 600;
        color: $piano-text-color;
      }

      .piano_card_btn {
        text-align: center;
        margin-top: 1.5rem;
        padding: 0.75rem 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        background: $piano-btn-bg;
        color: $piano-btn-text;
        border-radius: 0.5rem;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;

        text-decoration:none;
        color:black;
        font-size: 1em;
        font-weight: 600;

        &:hover {
          background: $piano-btn-hover;
        }
      }

      &:hover {
        height: 17rem;
        background-color: $piano-card-background;
        border-top: 2.5rem solid $piano-hover-color;
        border-color: $piano-hover-color;
        transform: translateY(-5px);
        padding: 2rem;

        @media screen and (max-width: 768px) {
          height: 14rem;
          border-top: 1.8rem solid $piano-hover-color;
        }

        .piano_card_btn {
          opacity: 1;
          visibility: visible;
          height: auto;
        }
      }
    }
  }
}


// reserve page
.home {
  font-family: 'Noto Sans KR', sans-serif;
  .reserve_home {
    margin: 100px 0px;

    .home_top-bar {
      background-color: #000000;
      width: 1080px;
      height: 40px;
    }
    .home_main {
      border: 1px solid #000000;
      width: 1080px;
      height: 720px;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      box-shadow: 3px 3px 3px 3px rgba(120, 122, 124, 0.5);
    }
    .home_info {
      width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .home_info_back-title {
      font-size: 18px;
      font-weight: 500;
      color: black;
    }
    .home_info_back-title:visited {
      color: black;
    }
    .home_info_piano_img {
      margin-top: 30px;
      width: 180px;
      height: 160px;
    }
    .home_info_title {
      font-size: 30px;
      font-weight: 700;
      margin: 20px 0px;
      padding-bottom: 20px;
      border-bottom: 1px solid black;
    }
    .home_info_subtitle {
      font-weight: 500;
      font-size: 25px;
      margin-top: 0px;
    }
    .home_info_time-info {
      font-size: 25px;
      margin-top: 0px;
      color: rgba(0, 0, 0, 0.8);
    }
    .home_date {
      width: 480px;
      border-left: 2px solid #dbdbdb;
      border-right: 2px solid #dbdbdb;
      padding: 0px 50px;
    }
    #home_box {
      height: 500px;
      margin-top: 90px;
    }
    #home__title {
      font-size: 25px;
      font-weight: 500;
      margin: 0px 0px 0px -7px;
    }
    .home_time_subtitle {
      font-weight: 400;
      margin-top: 20px;
      font-size: 20px;
    }
    .home_time {
      display: flex;
      flex-direction: column;
      width: 280px;
      padding: 0px 50px;
    }
    .home_time_container {
      overflow: auto;
      margin-top: 0px;
      border-right: 6px solid rgb(216, 215, 215);
    }
    .time-block {
      border-radius: 15px;
      width: 135px;
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0px;
      border: 2px solid #bed6f0c2;
      background-color: white;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 600;
      font-size: 17px;
      padding-left: 10px;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      cursor: pointer;
      transition: 0.3s;
      &.active {
        background-color: #e3f0fe;
        position: relative;
      }
    }
    .time-block:hover,
    .time-block:focus-within {
      background-color: #e3f0fe;
    }

    .time-block:focus-within {
      .home_time_block_confirm {
        transition: all 0.3s ease-in-out;
        visibility: visible;
        opacity: 100;
      }
    }

    .home_time_block_confirm {
      visibility: hidden;
      opacity: 0;
      margin-left: -45px;
      text-align: center;
      text-decoration-line: none;
      border-radius: 10px;
      font-size: 13px;
      width: 36px;
      height: 28px;
      background-color: white;
      border: none;
      color: #646464;
      cursor: pointer;
    }
  }
}

//체크페이지

.home_check {
  margin-top: 90px;
  width: 71%;
  padding: 0px 50px;
  border-left: 2px solid #dbdbdb;
  height: 500px;
  @media screen and (max-width: 768px) {
    border-left: 0px solid #dbdbdb;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
#home_check_title {
  @media screen and (max-width: 768px) {
    width: 500px;
    text-align: center;
  }
  margin: 0px 0px 20px 0px;
  font-size: 1.3rem;
  font-weight: 600;
}
#home_check_subtitle {
  width: 500px;
  @media screen and (max-width: 768px) {
    width: 500px;
    text-align: center;
  }
  margin: 50px 0px;
  line-height: 10px;
  font-size: 1.1rem;
  font-weight: 400;
}
#checkbox_div {
  display: flex;

  height: 60px;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 10rem;
    justify-content: center;
  }
}
input[type='checkbox'] {
  @media screen and (max-width: 768px) {
    width: 7.3rem;
    height: 1.5rem;
  }
  width: 25px;
  height: 25px;
  border-radius: 20%;
  background: #d9d9d9;
  appearance: none;
  cursor: pointer;
  transition: background 0.2s;
  margin: 0px 20px;
}
input[type='checkbox']:checked {
  background: #646464;
  border: none;
}
.reserve_button_div {
  @media screen and (max-width: 768px) {
    align-items: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.reserve_button_err_on {
  visibility: visible;
  font-weight: 600;
  opacity: 100;
  color: tomato;
  transition: all 0.3s ease-in-out;
}

.reserve_button_err_off {
  visibility: hidden;
  font-weight: 600;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.home_check_reserve {
  margin: 0px 0px !important;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  border: none;
  background: #d9d9d9;
  @media screen and (max-width: 768px) {
    width: 30px;
  }
}

.home_check_reserve:active {
  background: #646464;
  color: white;
}
// sign
.sign {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  min-height: 680px;
  min-width: 320px;

  .sign-loginbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 834px;
    padding-bottom: 14vh;
  }

  .sign-loginbox-title {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 320px;

    text-align: left;
    font-weight: 700;
    font-size: 1.1rem;
    margin: 0px 0px 29px 0px;
  }

  .cf-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 320px;
    text-align: left;
    font-size: 0.8rem;
    color: #f24957;
    margin-bottom: 24px;
  }

  .rq-msg {
    width: 320px;
    height: 46px;
    text-align: center;

    font-size: 1rem;
    font-weight: normal;
    text-decoration-line: black;

    margin-top: 48px;
    margin-bottom: 24px;
  }
}

// 달력
.react-datepicker {
  font-size: 1.1rem !important;
  border: 1px solid #888888;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0.8rem 10px !important;
}

.react-datepicker__day-name {
  color: black;
  font-weight: 700;
  margin: 0px 14px !important;
}

.react-datepicker__day--disabled {
  color: #c5c3c3 !important;
}

.react-datepicker__header,
.react-datepicker__header--custom {
  background-color: white;
  padding-top: 6px !important;
  border-bottom: none;
}

.normal-day {
  background: white !important;
  line-height: 1.2;
  text-align: center;
  padding: 8px !important;
  margin: 11px 9px !important;
  height: 40px;
  width: 40px;
}

.normal-day:hover {
  background: #f6f8fc !important;
  border-radius: 0px;
}

.selected-day,
.selected-day:focus {
  background: rgba(0, 0, 0, 0.137) !important;
  color: black !important;
  border-radius: 0px;
  height: 40px;
  width: 40px;
}

.datepickerHeader {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.h-6 {
  width: 20% !important;
  height: auto !important;
  cursor: pointer;
  filter: invert(30%);
}

#h-6_reverse {
  transform: scaleX(-1);
}

.hasCalendar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

//about,contact
.about, .contact {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;

  width: 100%;
  height: auto;

  @media screen and (max-width: $nav-max-width) {
    margin-top: 70px;
    background: linear-gradient(to bottom, #f6f9fb, #d6e3e2, #d6e3e2);
  }

  .about_title,
  .contact_title {
    font-weight: 600;
    font-size: 2rem;

    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

.about {
  .about_logo_duck {
    min-width: 162 * 2px;
    max-width: 162 * 2.5px;
    min-height: 216 * 2px;
    max-height: 216 * 2.5px;
    width: 16.2 * 2vw;
    height: 21.6 * 2vw;
    margin: 30px 20px;
  }

  .about_article {
    width: auto;
    height: fit-content;
    margin: 30px 0px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about_article_title {
      font-weight: 700;
      font-size: 2rem;
      margin-top: 1.5rem;
    }
    .about_article_sub_title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      align-items: center;
      font-weight: 600;
      font-size: 20px;
      margin-top: 30px;
    }
    .about_article_main {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      font-size: 0.9rem;
    }
  }

}

.contact {
  @media screen and (max-width: $nav-max-width) {
    height: 65vh;
  }

  .contact_box_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }

  .contact_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2em 0 3em;
    width: 14em;

    @media screen and (max-width: 768px) {
      width: 10em;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    .contact_source {
      font-weight: 600;
      font-size: 1em;
      margin-top: 0px;
      line-height: 50px;
      @media screen and (max-width: 768px) {
        font-size: 13px;
      }
    }
  
    .contact_item {
      font-weight: 400;
      font-size: 1em;
      margin-top: 0px;
      line-height: 50px;
      @media screen and (max-width: 768px) {
        font-size: 13px;
      }
    }

    .contact_item_link {
      font-weight: 400;
      color:slategrey;
      font-size: 20px;
      margin-top: 0px;
      text-decoration:none;
      line-height: 50px;
      @media screen and (max-width: 768px) {
        font-size: 13px;
      }
    }
  }

  #contact {
    padding-top: 50px;
    height: 75vh;
  }
}