.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;

  background-color: #6e5f5042;
  color: black;

  font-family: 'Noto Sans KR';
  text-align: center;

  height: 20%;
  min-height: 230px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;

  .footer_logo {
    font-family: 'Frank Ruhl Libre', serif;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: -50px;



    .footer_logo_duck {
      // 133 × 158 px
      width: 13.3 * 2.5vw;
      height: 15.8 * 2.5vw;
      min-width: 133 * 0.9px;
      min-height: 158 * 0.9px;
      max-width: 133 * 1.5px;
      max-height: 158 * 1.5px;
    }

    .footer_logo_text {
      text-decoration: none;
      margin-top: 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: black;
      margin-right: 35px;
      
      .footer_logo__title {
        font-size: 2.3rem;
        font-weight: 600;
        letter-spacing: 4px;
        font-display: center;
      }

      .footer_logo__subtitle {
        font-size: 1rem;
        font-weight: 500;
        font-display: center;
      }
    }
  }

  .footer_name {
    
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100vw;
    max-width: 600px;
    color: #0000008e;
    font-size: calc(17px + .5vw);
  
    p{
      margin:0px;
    }
    .footer_name_title {
      font-weight: 800;
      font-size: 1em;
      margin-bottom: 10px;
    }
    .footer_name_copyright {
      font-size: 0.8em;
      font-weight: 400;
    }
  }
}
