.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;

  height: 10vh;
  min-height: 175px;
  width: 100%;

  padding: 20px 0;

  text-align: center;

  .footer__title {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;

    border-bottom: 2px solid #e5e5e5;
    padding: 15px;
    .footer__menu__item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      padding: 0px 10px;
    }
  }

  .footer__copyright {
    width: 60%;
    padding-top: 15px;
    font-size: 1rem;
    font-weight: 400;
  }
}
