$hover-color: rgb(237, 237, 237);
$usermenu-width: 116px;
$menu-font-size: 1.35rem;
$nav-max-width: 840px;

.offcanvas__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#offcanvas__nav__title {
  font-size: 2rem;
  font-family: 'Frank Ruhl Libre', serif;
  text-align: center;
  text-decoration-line: none;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  margin: 0px;
  padding: 0px;
}
#offcanvas__nav__link {
  font-size: 1.6rem;
  font-family: 'Frank Ruhl Libre', serif;
  transition: color 0.3s ease, transform 0.2s ease;
  font-weight: 500;
  text-align: center;
  text-decoration-line: none;
  text-decoration: none;
  color: #424141;

  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    background-color: $hover-color;
    color: black;
  }
}

.nav__custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: rgba(246, 249, 251);
  border-bottom: 1px solid #e5e5e5;

  height: 10vh;
  min-height: 140px;
  max-height: 175px;
  width: 100%;
  min-width: fit-content;
  padding: 0px 25px;

  top: 0;
  position: fixed;
  z-index: 100;

  @media screen and (max-width: $nav-max-width) {
    justify-content: space-between;
    height: 7vh;
    min-height: 70px;
    padding: 0px 30px;
    background-color: rgba(246, 249, 251, 0.92);
  }

  #nav__hide,
  #nav__home,
  #nav__about,
  #nav__contact,
  #nav__reservation {
    @media screen and (max-width: $nav-max-width) {
      display: none;
    }
  }

  #nav__togleBtn {
    display: none;
    // width: 34%;
    @media screen and (max-width: $nav-max-width) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .nav__logo {
    width: 32%;
    min-width: fit-content;
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $nav-max-width) {
      display: none;
    }

    .nav__logo__big {
      font-size: 50px;
      font-weight: 600;
      letter-spacing: 4px;
      font-display: center;
    }

    .nav__logo__small {
      margin-top: 10px;
      font-size: 25px;
      font-weight: 400;
      letter-spacing: 4px;
      font-display: center;
    }

    @media screen and (max-width: $nav-max-width) and (min-width: 500px) {
      img {
        width: 236 * 0.9px;
        height: 82 * 0.9px;
      }
    }
  }

  .nav__row {
    width: 34%;
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px 20px;
    @media screen and (max-width: $nav-max-width) {
      display: none;
      width: 0px;
    }
  }

  .nav__link {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: $menu-font-size;
    font-weight: 350;
    cursor: pointer;
    padding: 0.5rem 0.5rem;

    border: none;
    border-radius: 5px;

    text-align: center;
    text-decoration-line: none;
    text-decoration: none;
    color: #424141;

    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
      background-color: $hover-color;
    }
  }
  .selected {
    // font-weight: bolder;
    transition: all 0.1s ease-in;

    border-radius: 0%;
    border-bottom: #000000 1px solid;
  }
  .nav__usermenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    min-width: $usermenu-width;

    span {
      color: #000;
      font-size: $menu-font-size;
      font-weight: 350;
      min-width: 70px;
    }
  }
}

.user-login-icon {
  width: 42px;
  height: 42px;
}

.user-img {
  padding: 2px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  @media screen and (max-width: $nav-max-width) {
    width: 2em;
    height: 2em;
    border-radius: 20%;
  }
}

.mobileLogo {
  display: none;
  @media screen and (max-width: $nav-max-width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobileLogoPiano {
  width: 1.7em;
  margin-right: 0.5em;
}

.mobileLogoImg {
  width: 4.5em;
}

.mobileMyifo {
  display: none;
  @media screen and (max-width: 499px) {
    display: flex;
    width: 0px;
  }
}
