$nav-max-width: 840px;

.reserve_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 150px;
  height: 700px;
  width: 390px;
  padding: 0px 10px;
  @media screen and (max-width: $nav-max-width) {
    margin-top: 8em;
  }
  .reserve_textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reserve_pianoName {
    margin-top: 10px !important;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
  }
  .reserve_timeInfo {
    font-size: 20px;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.8);
  }
}

.reserve_container {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  /* 기본적인 테이블 레이아웃 */
.react-datepicker-wrapper {
  display: flex;
  justify-content: center;
}

.react-datepicker {
  font-size: 1rem; /* 기본 폰트 크기 */
  border: 1px solid #888888;
  height: auto; /* 370px을 em으로 변환 */
  padding-bottom: 0.4em;
  width: 22rem;  /* 350px을 em으로 변환 */
}

.react-datepicker__month-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-datepicker__month {
  width: 20.625rem; /* 330px을 em으로 변환 */
  height: 17rem; /* 250px을 em으로 변환 */
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.react-datepicker__input-container {
  width: 22rem; /* 350px을 em으로 변환 */
  display: flex;
  justify-content: center;
}

.input-datepicker {
  width: 12.5rem; /* 200px을 em으로 변환 */
  height: 2.1875rem; /* 35px을 em으로 변환 */
  text-align: center;
  font-size: 1.25rem; /* 20px을 em으로 변환 */
  margin-bottom: 1.25rem; /* 20px을 em으로 변환 */
  background-color: #bed6f0c2;
  border-color: #c3ced2;
  color: #2d2f2d;
  border-radius: 0.625rem; /* 10px을 em으로 변환 */
}

.react-datepicker__week {
  width: 20.625rem; /* 330px을 em으로 변환 */
  height: 3.125rem; /* 50px을 em으로 변환 */
}

.react-datepicker__current-month {
  font-size: 1.25rem; /* 1.5rem을 em으로 변환 */
  font-weight: 500 !important;
}

.react-datepicker__navigation {
  top: 1.125rem; /* 13px을 em으로 변환 */
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0.5rem 0.625rem !important; /* 0.8rem 10px을 em으로 변환 */
}

.react-datepicker__day-name {
  color: black;
  font-weight: 700;
}

.react-datepicker__day--disabled {
  color: #c5c3c3 !important;
}

.react-datepicker__header {
  width: 21.5625rem; /* 345px을 em으로 변환 */
  padding-top: 0.375rem; /* 6px을 em으로 변환 */
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

.datepickerHeader_date {
  width: auto !important;
}

.normal-day {
  background: white !important;
  line-height: 1.2;
  text-align: center;
  margin: 0.3125rem 0.2875rem !important; /* 5px 4.6px을 em으로 변환 */
  height: 2.5rem; /* 40px을 em으로 변환 */
  width: 2.5rem; /* 40px을 em으로 변환 */
}

.normal-day:hover {
  background: #f6f8fc !important;
  border-radius: 0px;
}

.selected-day,
.selected-day:focus {
  background: rgba(0, 0, 0, 0.137) !important;
  color: black !important;
  border-radius: 0px;
  height: 2.5rem; /* 40px을 em으로 변환 */
  width: 2.5rem; /* 40px을 em으로 변환 */
}

.datepickerHeader {
  padding: 1rem 0px; /* 15px을 em으로 변환 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.h-6 {
  width: 20% !important;
  height: auto !important;
  cursor: pointer;
  filter: invert(30%);
}

#h-6_reverse {
  transform: scaleX(-1);
}

.hasCalendar {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem; /* 40px을 em으로 변환 */
}
}

.reserve_time_container {
  width: 250px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  margin-top: 0px;
  border: 3px solid whitesmoke;
  border-radius: 15px;
  background-color: white;

  .home_time_block {
    width: 150px;
  }
  .time-block {
    border-radius: 15px;
    width: 150px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;

    border: 2px solid #bed6f0c2;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding-left: 50px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.3s;
    &.active {
      background-color: #e3f0fe;
      position: relative;
    }
  }
  .time-block:hover,
  .time-block:focus-within {
    background-color: #e3f0fe;
  }

  .time-block:focus-within {
    .home_time_block_confirm {
      margin-left: -40px;
      transition: all 0.3s ease-in-out;
      visibility: visible;
      opacity: 100;
    }
  }

  .home_time_block_confirm {
    visibility: hidden;
    opacity: 0;
    margin-left: -45px;
    text-align: center;
    text-decoration-line: none;
    border-radius: 10px;
    font-size: 11px;
    font-weight: 600;
    width: 36px;
    height: 28px;
    background-color: white;
    border: none;
    color: #646464;
    cursor: pointer;
  }
}

.example-custom-input {
  background-color: #6c7a89;
  border-radius: 3px;
  border: 0px;
  color: white;
  font-weight: 600;
  width: 35%;
  height: 130%;
}

.reservedList_table_width {
  width: 150%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.reservedList_piano {
  text-align: center;
  width: 100px;
  border-bottom: solid 3px black;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  @media screen and (max-width: 768px) {
    font-size: 0.55rem;
  }
}

.reservedList_name {
  text-align: center;
  font-size: 0.9rem;
  white-space: pre-wrap;
  line-height: 1.3rem;
  border-bottom: solid 1px gray;
  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
    font-weight: 600;
  }
}

.value_btn {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
