.signin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  min-height: 680px;
  min-width: 320px;
}

.signin-loginbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 834px;
  padding-bottom: 50px;
}

.signin-loginbox-title {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 320px;

  text-align: left;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 60px 0px 29px 0px;
}

.cf-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  height: 16.8px;
  text-align: left;
  font-size: 12px;
  color: #f24957;
  margin-bottom: 24px;
}

.rq-msg {
  margin-top: 48px;
  width: 320px;
  height: 46px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
