footer {
    font-family: 'Noto Sans KR';
    text-align: center;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.678);
  }
  
.footer_title p {
  font-size: 30px;
}

  footer img {
    width: 30px;
    height: 30px;
    margin: 0px 20px;
  }

  footer p {
    margin-top: 44px;
    margin-bottom: 50px;
  }
  
  
  .footer_info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    margin-top: 0px;
  }
  
  .footer_info_title {
    border-top: 1px solid black;
  }
  