.nav {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__column {
  width: 33%;
}

.nav__column:first-child a {
  margin: 0px 20px;
}

.nav__column:first-child a:first-child {
  margin-left: 60px;
}

.nav__column:nth-child(2) {
  font-family: 'Frank Ruhl Libre', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_logo-big {
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 4px;
  font-display: center;
}

.nav_logo-small {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 4px;
  font-display: center;
}

.nav__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__column:last-child a:last-child {
  margin-right: 60px;
}

.nav__sign {
  margin-left: 30px;
}

.login_btn {
  height: 40px;
}

.nav__link {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #7c7c7c;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover {
  color: black;
}
